body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightcoral;
  transition: background-color 1s ease;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Align cards from left to right */
}

/* Filter container styles */
.filter {
  text-align: center;
}

/* Button group styles */
.btn-group {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Button styles */
.btn {
  border-radius: 20px;
  padding: 8px 16px;
  margin-bottom: 10px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  font-size: 18px;
  /* Adjust the desired font size */
}

/* Button hover and active states */
.btn-primary:hover,
.btn-primary.active {
  background-color: yellow;
  border-color: black;
}

.btn-primary:focus {
  background-color: peru;
  outline: none;
  box-shadow: none;
}

.btn-primary:active {
  border-color: black;
  color: white;
}

.title {
  margin-left: 15px;
}

/* Card styles */
.card {
  height: 160px;
  width: 470px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:hover {
  background-color: yellow;
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card:active {
  background-color: lightgreen;
}

/* Card title styles */
.card .card-title {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  padding: 0 10px;
  padding-top: 0;
  padding-bottom: 0;
  /* Updated padding */
  text-align: center;
}

/* Card text styles */
.card .card-text {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  padding: 0 10px;
  padding-top: 0;
  padding-bottom: 0;
  /* Updated padding */
  text-align: center;
}

/* Media queries for responsive layout */
@media (min-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .card {
    flex: 0 0 calc(33.33% - 20px);
  }
}


/* Container button styles */
.container-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: bottom 0.3s ease;
  /* Add a smooth transition effect */

}

/* Create button styles */
.create-private,
.create-community {
  padding: 8px;
  /* Adjust the desired padding */
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 13.5px;
  cursor: pointer;
  margin-right: 5px;
}

.create-private:hover,
.create-community:hover {
  background-color: #0058c1;
}