body {
  font-family: 'Times New Roman', serif;
  background-color: lightcoral;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/* Styling for each individual card */
.card {
  flex: 1;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card .card-text,
.card .card-title {
  text-align: center;
  margin: 0;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Card body styles */
.card .card-body {
  padding: 30px;
  align-self: center;
  height: auto;
}

/* Card title styles */
.card .card-title {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  margin-bottom: 10px;
  align-self: center;
}

/* Card text styles */
.card .card-text {
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  color: #6c757d;
  margin-bottom: 20px;
}

/* Styling for the filter container */
.filter {
  text-align: center;
}

/* Media query for 2 columns on larger screens */
@media (min-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

/* Media query for 3 columns on even larger screens */
@media (min-width: 992px) {
  .card {
    width: calc(33.33% - 20px);
  }
}


/* Styling for the filter container */
.filter {
  text-align: center;
}

/* Styling for the button group */
.btn-group {
  display: flex;
  justify-content: center;
}

/* Styling for all buttons */
.btn {
  border-radius: 15px;
  padding: 8px 16px;
  margin-bottom: 10px;
}

/* Styling for filter buttons */
.filter button {
  margin-right: 20px;
  font-size: 20px;
}

/* Styling for the active filter button */
.filter .active {
  background-color: lightsteelblue;
  border-color: black;
}

@media (min-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

/* Media query for 3 columns on even larger screens */
@media (min-width: 992px) {
  .card {
    width: calc(33.33% - 20px);
  }
}

/* Styling for the filter container heading */
.filter-container h3 {
  font-size: 1.5em;
  margin: 20px 0;
}


/* 2 buttons */
.container {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.buttons {
  display: flex;
}

.create-private {
  padding: 0.5rem;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  /* added margin */

}

.create-community {
  padding: 0.5rem;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
  /* added margin */

}