body {
  font-family: 'Times New Roman', serif;
  background-image: linear-gradient(to bottom, #00CC66, transparent),
    linear-gradient(to bottom right, #ADD8E6, #FF6666);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 1s ease;
}

.App {
  font-family: 'Times New Roman', serif;
  background-image: linear-gradient(to bottom, #00CC66, transparent),
    linear-gradient(to bottom right, #ADD8E6, #FF6666);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: background-color 1s ease;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.description {
  font-size: 20px;
}

.grid-row {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card .header {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.card .description {
  margin-bottom: 16px;
  color: black;
}

.card .meta {
  font-size: 18px;
  color: black;
}

.custom-card {
  height: 110px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contribute-card {
  height: auto;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffffff;
}

.contribute-card form {
  display: flex;
  flex-direction: column;
}

.contribute-card label {
  font-weight: bold;
  margin-bottom: 5px;
}

.contribute-card .eth-message {
  margin-top: 10px;
  margin-bottom: 20px;
}

.contribute-card .eth-message p {
  border-radius: 20px;
  margin: 0;
}

.contribute-card .contribute-button {
  margin-top: 10px;
}

.view-requests-button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #FF6666;
}