body {
    font-family: 'Times New Roman', serif;
    background-color: lightcoral;
    margin: 0 20px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

header {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-title,
.add-description,
.add-investment,
.add-min-investment-for-voting {
    margin-bottom: 20px;
    width: 80%;
}

.add-title p,
.add-description p,
.add-investment p,
.add-min-investment-for-voting p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-card,
.description-card,
.investment-card,
.min-investment-for-voting-card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.textarea-1,
.textarea-2,
.textarea-3,
.textarea-4 {
    width: 100%;
    height: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    resize: vertical;
}

.submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    background-color: #0070f3;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.submit:hover {
    background-color: #0060c0;
}