body {
  font-family: 'Times New Roman', serif;
  background-image: linear-gradient(to bottom, #00CC66, transparent),
    linear-gradient(to bottom right, #ADD8E6, #FF6666);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 1s ease;
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.add-title,
.add-description,
.add-investment,
.add-sharePrice {
  margin-bottom: 20px;
  width: 80%;
}

.add-title p,
.add-description p,
.add-investment p,
.add-sharePrice p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
}

.textarea-1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 50px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  font-family: "Roboto";
}

.textarea-2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 100px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  font-family: "Roboto";
}

.textarea-3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 50px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  font-family: "Roboto";
}

.textarea-4 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 50px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  font-family: "Roboto";
}

.submit {
  padding: 0.5rem;
  background-color: #990000;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: "Roboto";
}

.submit:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #FF6666;
}